<img [src]="photo"
     class="rounded-full w-[80px] h-[80px] mr-4"
     alt="emp">

<div>
  <h3 class="font-bold ">{{lastName | uppercase}}, {{firstName | titlecase}}</h3>
  <p>{{position}}</p>
  <p class="text-xs text-gray-400">{{phone}}</p>
  <p class="text-xs text-gray-400">{{email}}</p>
</div>
