<div class="w-4/5 max-w-[480px] bg-white p-12 rounded shadow-2xl">

  <img src="/assets/images/endalia-logo.webp" alt="endalia" class="w-1/3 m-auto">

  <div class="mt-8 mb-4">
    <h2 class="font-bold text-lg">Bienvenido/a</h2>
    <p class="text-gray-500">Introduce tus credenciales para acceder</p>
  </div>

  <form class="block container" (submit)="login($event)">

    <div class="flex w-full items-center mb-2">
      <label for="email" class="w-[150px] text-gray-500">Usuario</label>
      <input type="email" name="email" id="email" placeholder="usuario@endalia.com" [(ngModel)]="email" required
             class="focus:outline-[#1252A0] w-full border border-gray rounded p-1 focus:border-[#1252A0]">
    </div>

    <div class="flex w-full items-center mb-8">
      <label for="password" class="w-[150px] text-gray-500">Contraseña</label>
      <input type="password" name="password" id="password" placeholder="contraseña" [(ngModel)]="password" required
             class="focus:outline-[#1252A0] w-full border border-gray rounded p-1">
    </div>

    <button type="submit" class="blok w-full rounded p-1 bg-[#1252A0] text-white">Acceder</button>

  </form>

</div>
