<header class="block bg-[#1252A0]">
  <nav class="flex w-full items-center justify-between container mx-auto py-1 px-4">
    <h1 class="text-[#ffffff]">Endalia HR</h1>
    <button (click)="logout()"><img src="/assets/images/log-out.svg" alt="log out" class="w-3"></button>
  </nav>
</header>

<main class="container p-4 mx-auto">

  <h2 class="font-bold text-lg">Directorio de empleados</h2>

  <div class="grid grid-cols-2 gap-4">
    <input type="search" name="search" #searchBox (input)="search(searchBox.value.trim())"
           class="col-span-2 sm:col-span-1 border rounded px-1 outline-offset-0 focus:outline-[#1252A0] my-4"
           placeholder="Buscar...">
  </div>

  <div class="grid grid-cols-2 gap-4">
    <app-employee-card class="col-span-2 sm:col-span-1"
                       *ngFor="let employee of employees$ | async"
                       [position]="employee.position"
                       [phone]="employee.phone"
                       [email]="employee.email"
                       [photo]="employee.photo"
                       [lastName]="employee.lastName"
                       [firstName]="employee.firstName"></app-employee-card>
  </div>

</main>
